*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Share Tech Mono', monospace;
    background-image: url(./img/yadernyy-vzryv-nochyu.jpg);
    align-items: center;
    background-size: cover;
    height: 100vh;

}

.timer-output{
    width: 200px;
    background: #444;
    color: rgb(190, 2, 2);
    font-size: 54px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

#counterField {
    width: 90px;
    font-size: 32px;
}

#counterText {
    font-size: 14px;
    color: #777;
}

#timerText {
    font-size: 18px;
    color: #777;
}

#startpage {
    background-color: rgba(245, 245, 245, 0.774);
    margin-top: 90px;
    align-items: center;
    margin-bottom: 10px;
    
}

.title{
    padding: 10px 30px 30px 30px;
    color: black;
    
}
.inf {
    margin-left: 30px ;
}
#startGameBtn {
    width: 100%;
    border: 0;
    height: 48px;
    color: black;
    font-size: 23px;
}

input {
    border:0;
    
}

