body {
    font-family: 'Share Tech Mono', monospace;
}

.timer-output{
    width: 200px;
    background: #444;
    color: rgb(190, 2, 2);
    font-size: 54px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

.game-control button {
    width: 130px;
}

#counterField {
    width: 90px;
    font-size: 32px;
}

#counterText {
    font-size: 14px;
    color: #777;
}

#timerText {
    font-size: 18px;
    color: #777;
}
